<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Flick Match{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
</head>
<body>
    <!-- Header / Navbar -->
    <header>
        <nav>
            <div class="logo">
                <a href="/">HUJ Movies</a>
            </div>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="{{ url_for('movies') }}">Movies</a></li>
                <li><a href="#">Watchlist</a></li>
                <li><a href="#">Reviews</a></li>
                <li><a href="{{ url_for('search') }}">Search</a></li>
                <li><a href="{{ url_for('signin') }}">Sign In</a></li>
            </ul>
        </nav>
    </header>

    <!-- Main Content Block -->
    <main>
        {% block content %}{% endblock %}
    </main>

  
</body>
</html>
