
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>🎬HUJ Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% extends "base.html" %}
    {% block title %}Home - Flick Match{% endblock %}
    {% block content %}

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h1 style="color:gold">Track Movies You've Watched</h1>
            <p style="color:black">Discover, review, and share your favorite films.</p>
            {%if not session['logged_in']%}
            <a href="{{ url_for('signin') }}" class="btn">Get Started</a>
            {%endif%}
        </div>
    </section>
    {%if session['logged_in']%}
    <section class="movie-grid">
        <h2 style="color: gold">🎥 Recommended Movies</h2>
        <div class="grid">
            <!-- Loop through the recommended_movies list -->
            {% for movie in recommended_movies[:10] %}
            <div class="movie-card">
                <!-- Link to media detail page, passing movie_id and media_type as URL parameters -->
                <a href="{{ url_for('media_detail', movie_id=movie.movie_id, media_type='movie') }}">
                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
                    <h3 style="color:white"><strong>Title:</strong> {{ movie.title }}</h3>
                    <p style="color:white"><strong>Release Year:</strong> {{ movie.release_year}}</p>
                </a>
            </div>
            {% else %}
            <p>No recommendations available. Start rating movies to get personalized recommendations!</p>
            {% endfor %}
        </div>
    </section>
    {%endif%}
    <!-- Movie Grid Section -->
    <section class="movie-grid">
        <h2 style="color:  gold">📈Popular Movies</h2>
        <div class="grid">
            <!-- Loop through the first 10 movies and create a card for each -->
            {% for movie in movies[:10] %}
            <div class="movie-card">
                <!-- Link to media detail page, passing movie_id and media_type as URL parameters -->
                <a href="{{ url_for('media_detail', movie_id=movie.movie_id, media_type='movie') }}">

                    <img src="{{ movie.poster_url }}" alt="{{ movie.title }} Poster">
                    <h3 style="color:white"><strong></strong>:{{ movie.title }}</h3>
                    <p style="color:white"><strong></strong>{{ movie.release_date }}</p>
                </a>
            </div>
            {% else %}
            <p>No popular movies found.</p>
            {% endfor %}
        </div>
    </section>
    

    {% endblock %}
</body>
</html>
