<!doctype html>
<html lang="en">
    {% extends "base.html" %}

    {% block title %}Search - Flick Match{% endblock %}
    
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='search.css') }}">
</head>
<body>
    <div class="container">
        <h1>🔍Search for a Movie</h1>
        <form action="{{ url_for('movies') }}" method="GET"> <!-- Update the action to point to the movies route -->
            <input type="text" name="movie" placeholder="Enter movie name..." required>
            <button type="submit">Search</button>
        </form>
    </div>
    {% endblock %}
</body>
</html>
